*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: radial-gradient(#fff,#ffd6d6);
}
.heading{
    text-align: center;
    margin-top: 25px;
}

.heading h1{
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;  
}

.heading p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    width:85%;
    margin:auto;
}
.about-us img{
    flex:0 50%;
    max-width: 50%;
    height: auto;
    width: 450px;
    height: 250px;
}
.content{
    padding:35px;
}
.content h2{
    color: #36455c;
    font-size: 24px;
    margin:15px 0px;
}
.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin:15px 0px;
}